{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lws/css/webiner_list.css' %}">
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var rows = [];
        var category_list = [];
    </script>
    {% for category in categories %}
        <script type="text/javascript">
            category_list.push("{{category.name }}");
        </script>
    {% endfor %}
    {% for webiner in webiners %}
        <script type="text/javascript">
            rows.push({ date:"{{ webiner.date }}", title:"{{ webiner.title }}", url:"{{ webiner.url }}", category:"{{ webiner.category_id.name }}" });
        </script>
    {% endfor %}
    <div id="webiner_table_app">
        <vue-good-table
            :columns="columns"
            :rows="rows"
            :line-numbers="true"
            :select-options="{
                enabled: true,
            }"
            :search-options="{
                enabled: true,
                skipDiacritics: false,
                placeholder: 'Webinerを検索します',
            }"
            :pagination-options="{
                enabled: true,
                mode: 'pages',
                perPage: 20,
                dropdownAllowAll: false,
                nextLabel: '次',
                prevLabel: '前',
                rowsPerPageLabel: '１ページあたりの件数',
                ofLabel: 'of',
                pageLabel: 'ページ',
            }"
            @on-cell-click="onCellClick"
        />
        <div slot="selected-row-actions">
            <button>マイリストへ登録</button>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'lws/js/webiner_table.js' %}"></script>
{% endblock %}