{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lws/css/webiner_list.css' %}">
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var rows = [];
        var category_list = [];
    </script>
    {% for category in categories %}
        <script type="text/javascript">
            category_list.push("{{category.name }}");
        </script>
    {% endfor %}
    {% for webiner in webiners %}
        <script type="text/javascript">
            rows.push({ id: "{{ webiner.id }}", start_date:"{{ webiner.start_date|date:'Y/m/d f a' }}", end_date:"{{ webiner.end_date|date:'Y/m/d f a' }}", title:"{{ webiner.title }}", url:"{{ webiner.url }}", category:"{{ webiner.category_id.name }}" });
        </script>
    {% endfor %}
    <script type="text/javascript">
        function register_to_mylist(){
            document.getElementById('webiner_lists').value = JSON.stringify(selected_rows);
            let mixedDatas = new FormData(document.getElementById("webiner_data_form"));
            let XHR = new XMLHttpRequest();
            XHR.open("POST", "{% url 'lws:register_webiner' %}", true);
            XHR.send(mixedDatas);
            XHR.onreadystatechange = function(){
                if (XHR.status == 200) {
                    document.getElementById("add_webiner_result").innerHTML = "My Calenderに" + selected_rows.length + "件追加しました";
                } else if (XHR.status == 550) {
                    document.getElementById("add_webiner_result").innerHTML = "My Calenderに既に登録されているため追加できません";
                } else {
                    document.getElementById("add_webiner_result").innerHTML = "何らかのエラーが発生しました";
                }
                document.getElementById("batsu").innerHTML = "×";
            };
        };
    </script>
    <div class="message">
        <div id="add_webiner_result"></div>
        <div id="batsu" onclick="delete_message()"></div>
    </div>
    <div id="webiner_table_app">
        <form id="webiner_data_form">
            {% csrf_token %}
            <vue-good-table
                ref="webiner_table"
                :columns="columns"
                :rows="rows"
                :line-numbers="true"
                :select-options="{
                    enabled: true,
                    selectOnCheckboxOnly: true,
                    selectionText: '件選択されました',
                    clearSelectionText: '選択解除',
                }"
                :search-options="{
                    enabled: true,
                    skipDiacritics: false,
                    placeholder: 'Webinerを検索します',
                }"
                :pagination-options="{
                    enabled: true,
                    mode: 'pages',
                    perPage: 20,
                    dropdownAllowAll: false,
                    nextLabel: '次',
                    prevLabel: '前',
                    rowsPerPageLabel: '１ページあたりの件数',
                    ofLabel: 'of',
                    pageLabel: 'ページ',
                }"
                @on-cell-click="onCellClick"
                @on-selected-rows-change="selectionChanged"
            />
            <div slot="selected-row-actions">
                <input type="hidden" name="webiner_lists" id="webiner_lists"　value="">
                <button type="button" id="send_webiner_data" onclick="register_to_mylist()">My Calenderへ登録</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/vue-good-table@2.16.3/dist/vue-good-table.js"></script>
    <script src="{% static 'lws/js/webiner_table.js' %}"></script>
{% endblock %}